<form [formGroup]="todoForm" (submit)="closeDialog()">
  <div class="row">
    <input formControlName="text" placeholder="text" type="text">
  </div>
  <div class="row">
    <input formControlName="description" placeholder="detail" type="text">
  </div>
  <button type="submit">save</button>
</form>
