<form [formGroup]="registerForm" >
  <div class="row">
    <label for="">email</label>
  <input formControlName="email" type="email">
  </div>
  <div class="row">
    <label for="">password</label>
  <input formControlName="password" type="password">
  </div>
  <div class="row">
    <label for="">avatar url</label>
  <input formControlName="avatar" type="text">
  </div>
  <img style="width: 100px; height: 100px;" *ngIf="registerForm.value.avatar !== ''" [src]="registerForm.value.avatar">
  <button (click)="onSubmit.emit(registerForm.value)">{{btnName}}</button>
</form>
