<div class="container">
  <div class="row">
    <div class="col-6">
       <div class="row" *ngFor="let user of (users | async)">
           <div class="col">
             {{user.id}}
           </div>
           <div class="col">
            {{user.email}}
          </div>
          <div class="col">
            {{user.password}}
          </div>
          <div *ngIf="user.avatar !== ''" class="col" style="width: 100px; height: 100px;">
            <img style="width: 100%; height: 100%;" [src]="user.avatar">
          </div>
          <div class="col">
            <button (click)="deleteUser(user.id)">delete</button>
          </div>
          <div class="col">
            <button (click)="onReadyToEdit(user)">edit</button>
          </div>
       </div>
    </div>
    <div class="col-6">
      <app-register [user]="(user.asObservable() | async)" [btnName]="isEdit ? 'edit user':'add user'" (onSubmit)="submit($event)"></app-register>
    </div>
  </div>
</div>
