<button (click)="openDialog(null, null)">add todo</button>
<div class="container">
  <div class="todo row" *ngFor="let todo of todos; let i = index">
    <div class="col text" [class]="todo.isDone ? 'done' : 'undone'">
       {{todo.text}}
    </div>
    <div *ngIf="!todo.isDone" class="col delete">
      <button (click)="todos.splice(i, 1)">delete</button>
    </div>
    <div *ngIf="!todo.isDone" class="col open">
      <button (click)="openDialog(todo, i)">open detail</button>
    </div>
    <div class="col done">
      <button (click)="onDone(i)">{{todo.isDone ? 'undone' : 'done'}}</button>
    </div>
  </div>
</div>
