<div class="container">
  <div class="row">
    <input [formControl]="searchForm" type="text">

  </div>
  <div class="row" *ngFor="let s of searchValue">
    <img  [src]="s.images.original.url" />

  </div>
</div>
