<div class="container">
    <div class="row">

      <div class="col-6">
        <h1>Register</h1>
        <app-register btnName="Register" (onSubmit)="onRegister($event)">
        </app-register>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="col-6">
        <h1>Login</h1>
        <div class="row">
          <label >email</label>
        <input formControlName="email" type="email" >
        </div>
        <div class="row">
          <label >password</label>
        <input formControlName="password" type="password">
        </div>
        <button>Login</button>
      </form>
    </div>
</div>
